<img 
   src="assets/img/capaPort.jpg"
   alt="Foto de capa"
   class="imagem-capa"
  />

<header>
  <img 
    (click)="openDialog()"
    src="assets/img/fotoPerfilBoa.png" 
    alt="Junior Landin - Foto de Perfil"
    width="160px"
    height="160px"
    loading="lazy"
    data-aos="fade-down" data-aos-duration="1500"
  >
  <h1 data-aos="fade-down" data-aos-duration="1500">Junior Landin</h1>
</header>

<aside>
  <div class="container" data-aos="fade-down" data-aos-duration="1500">
    <p>Desenvolvedor Frontend Angular | JavaScript/TypeScript, RxJS, Api REST e Angular Material</p>
    <p>Uberlândia, Minas Gerais, Brasil</p>
    <p>
      Desenvolvedor Frontend apaixonado, com 1 ano de experiência profissional,
       atualmente no 7º período da faculdade.
       Estudo desenvolvimento há 2 anos, buscando constantemente aprimorar minhas habilidades.
        Comprometido em criar experiências digitais excepcionais, estou aberto a desafios inovadores
         e oportunidades de crescimento no universo do desenvolvimento web.
    </p>

    <nav>
      <ul>
        <li>
          <a 
          href="assets/pdf/CurriculoLandin.pdf" 
          target="_blank" 
          class="btn btn-primary fadeIn"
          >
            Download Cv
          </a>
        </li>

        <li>
          <a 
          href="https://www.linkedin.com/in/euripedes-landin-244027228/" 
          target="_blank" 
          class="btn btn-secondary fadeIn"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img 
        src="assets/icons/whatsapp.svg"
        alt="Icone para contato do WhatsApp"
        width="22px"
        height="24px"
        />

        <figcaption>
          <a 
          href="https://api.whatsapp.com/send?phone=5534993173001&text=Ol%C3%A1%20Junior!"
          target="_blank"
          >
          <strong>Envie uma mensagem para:</strong>
          <p>WhatsApp: (34) 9 9317-3001</p>
          </a>
        
        </figcaption>
      </figure>

      <figure>
        <img 
        src="assets/icons/mail.svg"
        alt="Icone para contato do e-mail"
        width="22px"
        height="24px"
        />

        <figcaption>
          <a 
          href="mailto:juniorlandin10@gmail.com"
          target="_blank"
          >
          <strong>Envie um e-mail para: </strong>
          <p>juniorlandin10&#64;gmail.com</p>
          </a>
        
        </figcaption>
      </figure>
    </section>

  </div>
</aside>