<div class="container">
  <div></div>
  <div class="icons">
    <div>
      <a href="https://api.whatsapp.com/send?phone=5534993173001&text=Ol%C3%A1%20Junior!" target="_blank">
        <img 
        src="assets/icons/whatsapp.svg" 
        alt="Whatsapp"
        loading="lazy"
        width="25px"
        height="25px"
        >
      </a>
    </div>
    <div>
      <a href="mailto:juniorlandin10@gmail.com" target="_blank">
        <img 
        src="assets/icons/mail.svg" 
        alt="Gmail"
        loading="lazy"
        width="25px"
        height="25px"
        >
      </a>
    </div>
    <div>
      <a href="https://github.com/JuniorLandin" target="_blank">
        <img 
        src="assets/icons/knowledge/github.svg" 
        alt="GitHub"
        loading="lazy"
        width="25px"
        height="25px"
        >
      </a>
    </div>
  </div>
  <div>
    <h3>@Junior Landin</h3>
  </div>
</div>
