::ng-deep .dialog-container-projects .mdc-dialog__container{
  width: 850px;
}

:host{
  padding: 10px 30px;

  display: flex;
  flex-direction: column;

  header, h3, p, mat-dialog-content{
    padding: 0;
    margin: 0 0 15px;
  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2{
      font-size: 22px;
      padding: 0;
      margin: 0;
      color: var(--white);
    }

    button{
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;

      img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
      }
    }
  }

  h3{
    font-size: 18px;
    color: var(--white);
  }

  article{
    margin-bottom: 20px;
    margin-top: -16px;
    p{
      font-size: 16px;
      text-align: justify;
    }
  }

  nav{
    display: flex;
  }
}


.container-tecnologia{

  display: flex;
  flex-direction: column;

  .ul {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 5px;
  
    margin-bottom: 40px;
  
    li {
      margin-top: -15px;
      width: 50px;
      height: 50px;
      background: var(--black);
  
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
      border-radius: 8px;
  
      box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 25%);
      transition: 0.5s transform cubic-bezier(.155, 1.105, .295, 1.12),
        0.5s box-shadow;
      cursor: pointer;
      margin-top: 10px;
  
      img {
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
      }
  
      h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        margin-bottom: -2.5rem;
  
        opacity: 0;
        transition: opacity 0.8s;
        color: var(--white);
      }
  
      &:hover {
        transform: scale(1.09);
  
        h4{
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  h2, h3{
    font-size: 20px !important;
  }

  button{
    img{
      width: 15px !important;
      height: 15px !important;
      margin-top: 10px;
    }
  }
}