<header>
  <h2 mat-dialog-title>{{ getData()?.title }}</h2>
  <button mat-dialog-close>
    <img src="assets/icons/dialog/close.svg" alt="Botão para fechar o dialog"/>
  </button>
</header>

<mat-dialog-content>
  <h3>Descrição:</h3>
  <article [innerHTML]="getData()?.description"></article>

  <div class="container-tecnologia">
    <h3>Tecnologias usadas:</h3>
    <div class="ul">
      <ul *ngFor="let item of getData()?.frameworks">
        <li>
          <a href="{{item.link}}" target="_blank">
            <img 
            src="{{item.src}}" 
            alt="{{item.alt}}"
            loading="lazy"
            width="25px"
            height="25px"
            >
          </a>
          <h4>{{item.name}}</h4>
        </li>
    </ul>
    </div>
  </div>

  <div *ngFor="let item of getData()?.links">
    <nav>
      <a [href]="item.href" target="_blank" class="btn btn-secondary">
        {{item.name}}
      </a>
    </nav>
  </div>
</mat-dialog-content>